[Unit]
Description=Razer laptop control daemon
After=default.target
StartLimitIntervalSec=60
StartLimitBurst=2

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p %h/.local/share/razercontrol
ExecStart=/usr/bin/razer-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
